/* Sidebar Scrollbar */
aside::-webkit-scrollbar {
  width: 6px;
}

aside::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.35);
  border-radius: 4px;
}

aside::-webkit-scrollbar-track {
  background: transparent;
}
